<h1 align="center">AQ-10 ( Adolescent Version )</h1>
<h2 align="center">Autism Spectrum Quotient</h2>
<h3 align="center"><u>Disclaimer</u></h3>
<form action='/begin' method='POST'>
    <p align="center">
	 This is an assignment for RADS602 - Data Mining and Machine Learning 	<br> at Department of Clinical Epidemiology and Biostatistics <br> 	Faculty of Medicine Ramathibodhi Hospital.<br>
	 While this is based on AQ-10 questionnaires <br> and built on real 	life data-set from UCI Machine Learning Repository <br> this is not 	to be considered of any diagnostical significance. 	
    </p>
    <input type="submit" value="I understand" />
</form>